html {
	background: #1B1B24;
}
body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Lato', sans-serif;
}
#title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
}
.panel {
	display: flex;
	margin: auto;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	background-color: #D3D3D3;
	padding: 5px;
	border-style: solid;
	border-color: black;
	border-radius: 3px;
	margin-bottom:5px;
	background-color: #282936;
	border: 1px solid #191921;
	border-radius: 6px;
}
.panel-content {
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	justify-content: center;
	align-items: center;
	color: #8A8DB7;
}
.panel img {
	padding: 5px;
	height: 150px;
}
.panel-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #5d91df;
}
.panel-title h2 {
	margin-bottom: 0px;
	margin-top: 5px;
}
#countdown-clock {
	display: inline-flex;
	/*Experimenting with colors*/
	/*background-color: gray;*/
	/*background-color: #313142;*/
	background-color: #20202b;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 3px;
	margin-left: 15px;
}